.vscode/settings.json
debug/
node_modules
dist
.parcel-cache
.cache
coverage

built/

lib/*
!lib/wiregasm
lib/wiregasm/wg_build
!lib/tarballs
!lib/crossfile.meson
!lib/Makefile
lib/tarballs/*
!lib/tarballs/.gitkeep